mat-card
  max-width: 600px
  margin: 24px auto

.line
  white-space: nowrap
  overflow: hidden
  text-overflow: ellipsis
  margin: 8px 0

  b
    display: inline-block
    margin-right: 8px

.action
  margin-top: 16px
