<div class="wrapper">
  <ng-container *ngIf="repository">

    <mat-card>
      <ng-container *ngIf="repository.id; else noData">
        <div class="line"><b>Name:</b> {{repository.name}}</div>
        <div class="line"><b>Full name:</b> {{repository.full_name}}</div>
        <div class="line"><b>Description:</b> {{repository.description}}</div>
        <div class="line"><b>Language:</b> {{repository.language}}</div>
        <div class="line"><b>URL:</b> <a target="_blank" [href]="repository.svn_url">{{repository.svn_url}}</a></div>
        <div class="line"><b>Created:</b> {{repository.created_at | date: 'longDate'}}</div>
        <div class="line"><b>Updated:</b> {{repository.updated_at | date: 'longDate'}}</div>
      </ng-container>

      <ng-template #noData>
        <h4>No data</h4>
      </ng-template>

      <div class="action">
        <button mat-raised-button color="primary" routerLink="/">Back</button>
      </div>
    </mat-card>

  </ng-container>
</div>
