@import '../../node_modules/@angular/material/theming';
@import 'palettes';
@import 'card';
@import 'button';
@import 'field';

$mat-light-theme-background: (
  status-bar: map_get($mat-grey, 300),
  //app-bar:    map_get($mat-grey, 100),
  app-bar: white,
  background: map_get($mat-grey, 50),
  hover: rgba(black, 0.04),
  card: white,
  dialog: white,
  disabled-button: rgba(black, 0.12),
  raised-button: white,
  focused-button: $dark-focused,
  selected-button: map_get($mat-grey, 300),
  selected-disabled-button: map_get($mat-grey, 400),
  disabled-button-toggle: map_get($mat-grey, 200),
  unselected-chip: map_get($mat-grey, 300),
  disabled-list-option: map_get($mat-grey, 200),
  tooltip: map_get($mat-grey, 700),
);

$mat-light-theme-foreground: (
  base: black,
  divider: $dark-dividers,
  dividers: $dark-dividers,
  disabled: $dark-disabled-text,
  disabled-button: rgba(black, 0.26),
  disabled-text: $dark-disabled-text,
  elevation: black,
  hint-text: $dark-disabled-text,
  secondary-text: $dark-secondary-text,
  icon: rgba(black, 0.54),
  icons: rgba(black, 0.54),
  text: #222b45,
  slider-min: rgba(black, 0.87),
  slider-off: rgba(black, 0.26),
  slider-off-active: rgba(black, 0.38),
);

@mixin mat-elevation($zValue, $color: $mat-elevation-color, $opacity: $mat-elevation-opacity) {
  @if type-of($zValue) != number or not unitless($zValue) {
    @error '$zValue must be a unitless number';
  }
  @if $zValue < 0 or $zValue > 24 {
    @error '$zValue must be between 0 and 24';
  }

  box-shadow: 0 8px 20px rgba(#d5d9e4, .2);
}

@include mat-core();
$project-primary: mat-palette($project-turquoise);
$project-accent: mat-palette($mat-pink, A200, A100, A400);
$project-warn: mat-palette($mat-red);

$cvcode-theme: mat-light-theme($project-primary, $project-accent, $project-warn);

@include angular-material-theme($cvcode-theme);

body {
  background-color: #f2f3f7;
}

a {
  text-decoration: none;
  color: mat-color($project-primary);
}
