$mat-form-field-outline-dedupe: 0;

@mixin _mat-form-field-outline-label-floating($font-scale, $infix-padding, $infix-margin-top) {
  transform: translateY(-$infix-margin-top - $infix-padding + $mat-form-field-outline-dedupe) scale($font-scale);
  width: 100% / $font-scale + $mat-form-field-outline-dedupe;

  $mat-form-field-outline-dedupe: $mat-form-field-outline-dedupe + 0.00001 !global;
}

@mixin mat-form-field-outline-typography($config) {
  $line-height: mat-line-height($config, input);
  $subscript-font-scale: 1;
  $infix-padding: 1em;
  $infix-margin-top: 1em * $line-height * $subscript-font-scale;
  $subscript-margin-top: 0.5em / $subscript-font-scale;
  $wrapper-padding-bottom: ($subscript-margin-top + $line-height) * $subscript-font-scale;
  $outline-appearance-label-offset: -2em;

  .mat-form-field-appearance-outline {
    .mat-form-field-infix {
      padding: $infix-padding 0 $infix-padding 0;
    }

    .mat-form-field-label {
      top: $infix-margin-top + $infix-padding;
      margin-top: $outline-appearance-label-offset;
    }

    &.mat-form-field-can-float {
      &.mat-form-field-should-float .mat-form-field-label,
      .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
        @include _mat-form-field-outline-label-floating(
            $subscript-font-scale, $infix-padding + $outline-appearance-label-offset,
            $infix-margin-top);
      }

      .mat-input-server[label]:not(:label-shown) + .mat-form-field-label-wrapper
      .mat-form-field-label {
        @include _mat-form-field-outline-label-floating(
            $subscript-font-scale, $infix-padding + $outline-appearance-label-offset,
            $infix-margin-top);
      }
    }
  }
}
mat-form-field.mat-form-field-appearance-outline {
  .mat-form-field-outline {
    top: 0;
  }

  .mat-form-field-flex {
    margin-top: 0;
    align-items: center;
  }

  .mat-form-field-suffix {
    top: 0;
  }

  .mat-form-field-outline-gap {
    width: 0 !important;
  }

  &[floatLabel="always"] {
    .mat-form-field-wrapper {
      padding-top: 22px;
    }

    .mat-form-field-infix {
      border-top: none;
      padding: 16px 0;

      input {
        height: 100%;
        margin-top: 0;
      }
    }

    .mat-form-field-label-wrapper {
      top: -22px;
      padding-top: 22px;

      label {
        font-size: 13px;
        line-height: 16px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    .mat-select-arrow-wrapper {
      transform: unset;
    }
  }

  &[floatLabel="never"] {
    display: inline-flex;
    justify-content: flex-end;

    .mat-form-field-wrapper {
      width: calc(100% - 150px);
      max-width: 70%;
      padding-top: 0;
    }

    .mat-form-field-infix {
      position: relative;
      border-top: none;
      padding: 16px 0;

      input {
        height: 100%;
        margin-top: 0;
      }
    }

    .mat-form-field-label-wrapper {
      top: 50%;
      left: -162px;
      padding-top: 0;
      transform: translateY(-50%);
      width: 156px;
      height: 16px;

      label {
        font-size: 13px;
        line-height: 16px;
        font-weight: bold;
        text-transform: uppercase;
      }
    }

    @media (max-width: 500px) {
      display: inline-block;

      .mat-form-field-wrapper {
        padding-top: 22px;
        width: 100%;
        max-width: 100%;
      }

      .mat-form-field-label-wrapper {
        top: -22px;
        padding-top: 22px;
        left: 0;
        transform: unset;
        width: 100%;
        height: 100%;
      }
    }
  }

  &[floatLabel="always"],
  &[floatLabel="never"] {
    &.mat-form-field-can-float.mat-form-field-should-float {
      .mat-form-field-label {
        transform: unset;
      }
    }
  }
}

