<ng-container *ngIf="dataSource?.data.length">
  <div class="action">
    <button mat-raised-button [color]="(sort$ | async) === 'name' ? 'primary' : ''" (click)="changeSort('name')">
      Sort: Name
    </button>
    <button mat-raised-button [color]="(sort$ | async) === 'description' ? 'primary' : ''"
            (click)="changeSort('description')">
      Sort: Description
    </button>
    <button mat-raised-button [color]="(sort$ | async) === 'created_at' ? 'primary' : ''"
            (click)="changeSort('created_at')">
      Sort: Created
    </button>
  </div>

  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef>Name</th>
      <td mat-cell *matCellDef="let element">
      <span [attr.sort]="element.full_name">
        <a [routerLink]="'/item/' + element.id">{{element.name}}</a>
      </span>
      </td>
    </ng-container>

    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Description</th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="created">
      <th mat-header-cell *matHeaderCellDef>Created</th>
      <td mat-cell *matCellDef="let element"> {{element.created_at | date:'longDate'}} </td>
    </ng-container>

    <ng-container matColumnDef="language">
      <th mat-header-cell *matHeaderCellDef>Language</th>
      <td mat-cell *matCellDef="let element"> {{element.language}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</ng-container>

