<form [formGroup]="searchForm">
  <mat-form-field appearance="outline" floatLabel="always">
    <mat-label>Search</mat-label>
    <input matInput formControlName="search" type="text"/>
    <mat-spinner *ngIf="wait" matSuffix diameter="32"></mat-spinner>
  </mat-form-field>
</form>
