html
  width: 100%
  margin: 0
  padding: 0

html *
  outline: none !important
  box-sizing: border-box !important

body
  width: 100%
  height: 100%
  position: relative
  margin: 0

.wrapper
  width: 100%
  max-width: 1328px
  margin: 0 auto
  padding-left: 24px
  padding-right: 24px
